<h1>{{ title }}</h1>
<p>Welcome to {{ title }}. A courses scheduler for the University of Victoria</p>

<!--<form action="/classes/all" method="post">
    <select id="select_term" name="select_term">
        <option value="{{fall}}">Fall</option>
        <option value="{{spring}}">Spring</option>
    </select>
    <input type="submit" value="Create Profile" />
</form>-->

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="container-courses">
                <button class="btn" id="fall" value="{{fall}}" data-attribute="active">Fall 2017</button>
                <button class="btn" id="spring" value="{{spring}}" data-attribute="inactive">Spring 2018</button>
                <hr>
                <div class="ui-widget" id="fall-search">
                    <input class="input" id="fall-classes" placeholder="Search for a class">
                    <button class="btn btn-success btn-custom" id="fall-add">Add</button>
                </div>
                <div class="ui-widget" id="spring-search">
                    <input class="input" id="spring-classes" placeholder="Search for a class">
                    <button class="btn btn-success btn-custom" id="spring-add">Add</button>
                </div>
            </div>
            <hr>
            <div class="container-list">
                <table class="table" id="fall-table">
                    <thead>
                        <td>Course</td>
                        <td>Section</td>
                        <td>CRN</td>
                        <td>Times</td>
                        <td>Days</td>
                    </thead>
                </table>
                <table class="table" id="spring-table">
                    <thead>
                        <td>Course</td>
                        <td>Section</td>
                        <td>CRN</td>
                        <td>Times</td>
                        <td>Days</td>
                    </thead>
                </table>
            </div>
        </div>
        <div class="col-md-6">
            <div><div id='spring-calendar'></div></div>
            <div><div id='fall-calendar'></div></div>
        </div>
    </div>
</div>